<section class="flex flex-col gap-y-3.5">
  <app-subtitle headline="Documentos adjuntos" align="center" />
  <ul class="w-full lg:max-w-3xs mx-auto">
    @for (file of files(); track $index) {
    <li class="border-t border-surface-200 py-2">
      <p-button
        icon="pi pi-download"
        size="small"
        [label]="`${file.name} [${file.scoreImpact}]`"
        link
        fluid
        (onClick)="downloadFile(file.documentUrl, file.name)"
      />
    </li>
    } @empty {
    <p class="text-center text-sm text-surface-600 sm:text-base">Sin documentos</p>
    }
  </ul>
</section>
