<section class="flex flex-col gap-y-7">
  <header class="flex flex-col gap-y-2.5">
    <app-title headline="Verificación del KYC" />
    <p class="text-surface-500 text-sm sm:text-base text-pretty">
      Requerimos de la documentación legal de tu empresa para gestionar correctamente tus futuras
      solicitudes de crédito.
    </p>
  </header>
  <app-new-kyc-form
    [loading]="loading()"
    title1="Constancia CUIT"
    title2="Estatuto Social"
    title3="Comprobante de Domicilio"
    (onSubmit)="onSubmit.emit($event)"
  />
</section>
