<section class="p-3.5 bg-white rounded-xl flex flex-col gap-y-3.5">
  <h4 class="text-center text-surface-600 font-semibold text-lg sm:text-xl">
    Solicitud {{ creditStatus() | creditApplicationStatus }}
  </h4>
  <form [formGroup]="form">
    <p-fieldset legend="Comentarios" class="text-lg">
      <div class="flex flex-col gap-y-1">
        <p-float-label variant="on">
          <textarea
            pTextarea
            [autoResize]="true"
            [rows]="3"
            fluid
            placeholder="Escribe aquí tus comentarios acerca de la solicitud..."
            formControlName="comments"
            [maxlength]="max"
          ></textarea>
        </p-float-label>
        <small class="text-xs sm:text-sm text-surface-600 text-right"
          >Caracteres restantes {{ remainingCharacters }}</small
        >
      </div>
    </p-fieldset>
    <p-fieldset class="mt-5 text-lg" legend="Acción a realizar">
      <div class="flex items-center justify-center">
        <p-button type="button" size="small" outlined="true" label="Aprobar" severity="success" />
        <p-divider layout="vertical" class="mx-2.5" />
        <p-button type="button" size="small" outlined="true" label="En revisión" severity="info" />
        <p-divider layout="vertical" class="mx-2.5" />
        <p-button type="button" size="small" outlined="true" label="Rechazar" severity="danger" />
      </div>
    </p-fieldset>
  </form>
</section>
