<nav
  class="fixed top-0 left-0 max-md:right-0 md:bottom-0 max-md:h-20 md:h-dvh md:w-64 bg-white max-md:border-b md:border-r border-surface-200 px-3.5 md:py-5"
>
  <div
    class="max-md:container max-md:mx-auto flex items-center max-sm:justify-center sm:max-md:justify-between md:flex-col gap-y-12 h-full"
  >
    <app-logo class="max-sm:hidden" />
    <div class="md:size-full flex md:flex-col items-center md:justify-between md:overflow-x-auto">
      <ul class="flex items-center md:flex-col gap-y-3.5 md:w-full md:overflow-x-auto">
        <app-navbar-link
          icon="pi pi-home"
          headline="Inicio"
          route="./dashboard"
          class="md:w-full"
        />
        <app-navbar-link
          icon="pi pi-money-bill"
          headline="Solicitudes"
          route="./solicitudes"
          class="md:w-full"
        />
        <app-navbar-link
          icon="pi pi-users"
          headline="Clientes"
          route="./clientes"
          class="md:w-full"
        />
        <app-navbar-link
          icon="pi pi-briefcase"
          headline="Empresas"
          route="./empresas"
          class="md:w-full"
        />
      </ul>
      <app-navbar-link
        icon="pi pi-sign-out"
        headline="Cerrar Sesión"
        [route]="null"
        class="md:w-full"
        (click)="logout()"
      />
    </div>
  </div>
</nav>
