<a
  [routerLink]="route()"
  #rla="routerLinkActive"
  routerLinkActive
  class="max-md:h-20 flex max-md:flex-col items-center max-md:justify-center gap-y-1.5 gap-x-3 px-2 sm:px-3.5 md:px-5 max-md:hover:text-primary-500 md:hover:bg-primary-100 md:w-full md:rounded-xl md:py-2 font-medium duration-200 outline-primary-500 cursor-pointer"
  [ngClass]="{
    'text-surface-600 border-none': !rla.isActive,
    'text-primary-600 max-md:border-b-4 max-md:border-primary-500 md:bg-primary-200 md:text-primary-950':
      rla.isActive
  }"
>
  <i [ngClass]="icon()" class="text-xl sm:text-lg md:text-xl"></i>
  <span class="text-xs sm:text-sm md:text-base line-clamp-1">{{ headline() }}</span>
</a>
