<section class="flex flex-col gap-y-3.5">
  <app-subtitle headline="Información de la solicitud" />
  <ul class="flex flex-col">
    <app-information-item name="Empresa" [value]="detail()?.companyName" />
    <app-information-item name="Valor" [value]="detail()?.amount" pipe="currency" />
    <app-information-item name="Plazo a Meses" [value]="detail()?.termMonths" />
    <app-information-item name="Propósito" [value]="detail()?.creditPurpose" pipe="purpose" />
    <app-information-item name="Fecha de solicitud" [value]="detail()?.createdAt" pipe="datetime" />
  </ul>
</section>
