<form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-y-5">
  <p-floatlabel variant="on">
    <input type="email" id="email" autocomplete="email" formControlName="email" pInputText fluid />
    <label for="email">Correo electrónico</label>
  </p-floatlabel>
  <p-floatLabel variant="on">
    <p-password
      inputId="password"
      autocomplete="off"
      [feedback]="false"
      [toggleMask]="true"
      fluid
      formControlName="password"
    />
    <label for="password">Contraseña</label>
  </p-floatLabel>
  <p-button severity="primary" label="Iniciar Sesión" fluid type="ngSubmit" />
</form>
