<form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-y-5">
  <p-floatlabel variant="on">
    <input type="email" id="email" autocomplete="email" formControlName="email" pInputText fluid />
    <label for="email">Correo electrónico</label>
  </p-floatlabel>
  <p-floatLabel variant="on">
    <p-password
      inputId="password"
      autocomplete="off"
      [feedback]="false"
      [toggleMask]="true"
      fluid
      formControlName="password"
    />
    <label for="password">Contraseña</label>
  </p-floatLabel>
  <p-button severity="secondary" label="Iniciar Sesión" fluid type="ngSubmit" />
  <div class="w-full grid grid-cols-5 gap-x-2.5 items-center">
    <hr class="col-span-2" />
    <p class="col-span-1 text-center">o</p>
    <hr class="col-span-2" />
  </div>
  <a routerLink="../register">
    <p-button label="Crear cuenta" variant="text" severity="info" link fluid />
  </a>
</form>
