<form [formGroup]="form" (ngSubmit)="onRegister()" class="flex flex-col gap-y-5">
  <app-fieldset legend="Información Personal">
    <div class="max-sm:flex max-sm:flex-col max-sm:gap-y-5 sm:grid sm:grid-cols-2 sm:gap-x-2.5">
      <div class="flex flex-col gap-y-1">
        <p-floatLabel variant="on">
          <input
            type="text"
            id="firstName"
            formControlName="firstName"
            autocomplete="name"
            pInputText
            fluid
            [invalid]="isInvalid('firstName')"
          />
          <label for="firstName">Nombres</label>
        </p-floatLabel>
        @if (isInvalid('firstName')) {
        <p-message size="small" severity="error" variant="simple">Tu nombre es requerido</p-message>
        }
      </div>
      <div class="flex flex-col gap-y-1">
        <p-floatLabel variant="on">
          <input
            type="text"
            id="lastName"
            formControlName="lastName"
            autocomplete="family-name"
            pInputText
            fluid
            [invalid]="isInvalid('lastName')"
          />
          <label for="lastName">Apellidos</label>
        </p-floatLabel>
        @if (isInvalid('lastName')) {
        <p-message size="small" severity="error" variant="simple"
          >Tu apellido es requerido</p-message
        >
        }
      </div>
    </div>
    <div class="flex flex-col gap-y-1">
      <p-floatLabel variant="on">
        <p-datepicker
          [invalid]="isInvalid('birthDate')"
          dateFormat="dd/mm/yy"
          [maxDate]="today"
          showIcon
          inputId="birthDate"
          fluid
          formControlName="birthDate"
          autocomplete="off"
        />
        <label for="birthDate">Fecha de nacimiento</label>
      </p-floatLabel>
      @if (isInvalid('birthDate')) {
      <p-message size="small" severity="error" variant="simple">
        Por favor, ingresa tu fecha de nacimiento
      </p-message>
      }
    </div>
  </app-fieldset>
  <app-fieldset legend="Datos de Contacto">
    <div class="flex flex-col gap-y-1">
      <p-floatLabel variant="on">
        <input
          type="email"
          id="email"
          formControlName="email"
          autocomplete="email"
          pInputText
          fluid
          [invalid]="isInvalid('email')"
        />
        <label for="email">Correo electrónico</label>
      </p-floatLabel>
      @if (isInvalid('email')) { @if (getError('email', 'required')) {
      <p-message size="small" severity="error" variant="simple">
        Tu correo electrónico es requerido
      </p-message>
      } @if (getError('email', 'pattern')) {
      <p-message size="small" severity="error" variant="simple">
        Por favor, ingresa un correo electrónico válido
      </p-message>
      } }
    </div>
    <div class="flex flex-col gap-y-1">
      <p-floatLabel variant="on">
        <input
          type="tel"
          id="contact"
          formControlName="contact"
          autocomplete="tel"
          pInputText
          fluid
          [invalid]="isInvalid('contact')"
        />
        <label for="contact">Número de celular</label>
      </p-floatLabel>
      @if (isInvalid('contact')) { @if (getError('contact', 'required')) {
      <p-message size="small" severity="error" variant="simple">
        Tu número de celular es requerido
      </p-message>
      } @if (getError('contact', 'pattern')) {
      <p-message size="small" severity="error" variant="simple">
        Ingresa un número válido (e.g: +54 015-22540454 / 01522540454)
      </p-message>
      } }
    </div>
  </app-fieldset>
  <app-fieldset legend="Verificación de Identidad">
    <div class="flex flex-col gap-y-1">
      <p-floatLabel variant="on">
        <p-select
          inputId="country"
          [options]="countries"
          [virtualScroll]="true"
          [virtualScrollItemSize]="24"
          [filter]="true"
          [showClear]="true"
          [invalid]="isInvalid('country')"
          fluid
          formControlName="country"
        />
        <label for="country">País</label>
      </p-floatLabel>
      @if (isInvalid('country')) {
      <p-message size="small" severity="error" variant="simple">
        Por favor, ingresa tu país
      </p-message>
      }
    </div>
    <div class="flex flex-col gap-y-1">
      <p-floatLabel variant="on">
        <input
          type="text"
          id="dni"
          formControlName="dni"
          autocomplete="off"
          pInputText
          fluid
          [invalid]="isInvalid('dni')"
        />
        <label for="dni">Número de Identificación (DNI)</label>
      </p-floatLabel>
      @if (isInvalid('dni')) {
      <p-message size="small" severity="error" variant="simple">
        Por favor, ingresa tu número de identificación (DNI)
      </p-message>
      }
    </div>
  </app-fieldset>
  <app-fieldset legend="Seguridad">
    <div class="flex flex-col gap-y-1">
      <p-floatLabel variant="on">
        <p-password
          [toggleMask]="true"
          [feedback]="false"
          [invalid]="isInvalid('password')"
          inputId="password"
          fluid
          formControlName="password"
          autocomplete="off"
        />
        <label for="password">Contraseña</label>
      </p-floatLabel>
      @if (isInvalid('password')) { @if (getError('password', 'required')) {
      <p-message size="small" severity="error" variant="simple">
        Por favor, ingresa una contraseña
      </p-message>
      } @if (getError('password', 'pattern')) {
      <p-message size="small" severity="error" variant="simple">
        La contraseña debe tener al menos 8 caracteres, una mayúscula, una minúscula, un número y un
        símbolo especial
      </p-message>
      } }
    </div>
  </app-fieldset>
  <p-message size="small" severity="secondary" variant="simple">
    Al crear tu cuenta aceptas nuestros
    <a href="#" class="text-blue-500">términos y condiciones</a>
  </p-message>
  <p-button
    [label]="store.buttonText()"
    type="submit"
    fluid
    [loading]="store.status() === 'loading'"
  />
  <app-linker route="../login" text="¿Ya tienes cuenta?" />
</form>
