<form [formGroup]="form" class="flex flex-col gap-y-5" (ngSubmit)="submit()">
  <div class="flex flex-col gap-y-1">
    <p-float-label variant="on">
      <input
        type="text"
        id="name"
        formControlName="name"
        pInputText
        fluid
        [invalid]="isInvalid('name')"
      />
      <label for="name">Nombre de la Empresa</label>
    </p-float-label>
    @if (isInvalid('name')) {
    <p-message severity="error" size="small" variant="simple">
      El nombre de la empresa es requerido
    </p-message>
    }
  </div>
  <div class="flex flex-col gap-y-1">
    <p-float-label variant="on">
      <input
        type="text"
        id="taxId"
        formControlName="taxId"
        pInputText
        fluid
        [invalid]="isInvalid('taxId')"
      />
      <label for="taxId">CUIT</label>
    </p-float-label>
    @if (isInvalid('taxId')) { @if (getError('taxId', 'required')) {
    <p-message severity="error" size="small" variant="simple">
      El ID del TAX es requerido
    </p-message>
    }@if (getError('taxId', 'minlength') || getError('taxId', 'maxlength')) {
    <p-message severity="error" size="small" variant="simple">
      El CUIT debe tener 11 caracteres
    </p-message>
    } }
  </div>
  <div class="flex flex-col gap-y-1">
    <p-float-label variant="on">
      <p-input-number
        inputId="annualIncome"
        fluid
        formControlName="annualIncome"
        [invalid]="isInvalid('annualIncome')"
      />
      <label for="annualIncome">Ingreso Anual</label>
    </p-float-label>
    @if (isInvalid('annualIncome')) { @if (getError('annualIncome', 'required')) {
    <p-message severity="error" size="small" variant="simple">
      El Ingreso Anual es requerido
    </p-message>
    } @if (getError('annualIncome', 'min')) {
    <p-message severity="error" size="small" variant="simple">
      El Ingreso Anual debe ser igual o mayor a cero
    </p-message>
    } }
  </div>
  <p-button
    [label]="store.loadingMessage()"
    type="submit"
    fluid
    [loading]="store.status() === 'loading'"
    class="mt-2"
  />
</form>
