<header
  class="fixed top-0 left-0 right-0 h-18 bg-white border-b border-surface-300 flex items-center justify-center z-20"
>
  <nav class="container mx-auto flex items-center justify-between gap-x-2.5 px-5">
    <app-logo />
    <ul
      class="flex items-center sm:justify-between max-sm:flex-col max-sm:justify-center max-sm:translate-x-full duration-500 max-sm:bg-surface-50 max-sm:fixed max-sm:inset-0 max-sm:z-30 gap-y-12"
      [ngClass]="{
        'max-sm:translate-none': show()
      }"
    >
      <app-navbar-link headline="Inicio" route="./dashboard" (click)="show.set(false)" />
      <app-navbar-link headline="Créditos" route="./creditos" (click)="show.set(false)" />
      <app-navbar-link headline="Empresa" route="./empresa" (click)="show.set(false)" />
      <app-navbar-link headline="Perfil" route="./perfil" (click)="show.set(false)" />
    </ul>
    <button class="sm:hidden relative z-30 cursor-pointer" (click)="show.set(!show())">
      <i
        class="pi text-3xl text-surface-600"
        [ngClass]="{ 'pi-bars': !show(), 'pi-times': show() }"
      ></i>
    </button>
  </nav>
</header>
